<%- layout('layouts/main')%>

<div class="container tarjetaSigin mt-4">

  <div class="row">
    <div class="col-md4 offset-1 col-10">
      <div class="card mt-4 text-center">

        <!-- <div class="card-header">
          <h3>Usuario <%=user.nombre%></h3>
        </div>
         -->
        
        <div class="card-body">

          <div class="imageProfile">
            <div class="imagenPerfil card-img-top">
              <img src=<%=user.foto%> class="img-thumbnail" id="imgProfile"> <!-- class="card-img-top" -->
            </div>
            
          </div>

          
          <form action="/profile" method="POST" enctype="multipart/form-data">
            
            <div class="form-group">
              <input type="file" name="foto" onchange="cambio()" accept="image/*" id="imgRuta" style="display:none">
              <a href="javascript:doClick()" class="btn btn-dark btn-block mt-4">Seleccione su imágen de perfil</a>
            </div>
            <div class="form-group">
              <input type="texto" name="nombre" placeholder="Nombre" class="form-control" value=<%=user.nombre%>>
            </div>
            <div class="form-group">
              <input type="texto" name="direccion" placeholder="Dirección" class="form-control" value="<%=user.direccion%>">
            </div>
            <div class="form-group">
              <input type="texto" name="edad" placeholder="Edad" class="form-control" value=<%=user.edad%>>
            </div>
            <div id="login" onsubmit="process(event)" class="form-group">
              <input id="phone" type="tel" name="telefono" class="form-control" value=<%=user.telefono%>>
            </div>
            
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" class="form-control" value=<%=user.email%>>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control" value=<%=user.password%>>
            </div>
            <button type="submit" class="btn btn-dark btn-block mt-4">
              Actualizar datos
            </button>
            <a href="/api/productos/Todos" class="btn btn-dark btn-block mt-4">Volver al catálogo</a>
          </form>
      
        </div>
      </div>
    </div>
  </div>
</div>
