<table class="table table-striped mt-4">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">Producto</th>
            <th scope="col" class="text-center">Precio</th>
            <th scope="col" class="text-center">Img</th>
            <th scope="col" class="text-center">Menú</th>
        </tr>
    </thead class="thead-dark">
        <tr>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                      Categoria <strong><%=cat%></strong>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/api/productos/Todos">Todos los artículos</a>
                        <% for (let j = 0; j < categorias.length; j++) { %>
                            <a class="dropdown-item" href="/api/productos/<%=categorias[j].category%>"><%=categorias[j].category%></a>
                        <% } %>
                    </div>
                  </div>
            </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
            <th scope="col"> </th>
        </tr>
    <thead>

    </thead>
    <tbody id="cuerpoTabla">
        <% if (productos.length === 0) { %>
            <tr>
                <td colspan="3">No hay datos</td>
            </tr>
        <% }else{ %>
        
        <% for (let i = 0; i < productos.length; i++) { %>
            
            <tr class="">
                <td><blockquote class="blockquote">
                    <p class="mb-0"><%=productos[i].title%></p>
                    <footer class="blockquote-footer"><%=productos[i].description%></footer>
                  </blockquote>
                </td>
                
                <td><span>$<%=productos[i].price%></span></td>                    
                <td class="imagen"><img src=<%=productos[i].thumbnail%>></img></td>
                <td><div><button class="btn btn-dark btn-prods"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                  </svg></button></div></td>
            </tr>
            
            
        <% } } %>
    </tbody>
</table>